{{>header}}

<div class="text-center container" >
  <p>Bienvenido!, {{user.first_name}} {{user.last_name}}!</p>
  <p>Rol: {{user.role}}</p>
  <p>Email: {{user.email}}</p>
  <p>Edad: {{user.age}}</p>
</div>
<h1>Productos</h1>
<div class="container">

  {{#each products}}
    <div class="card-product">
      <div class="card-container-title">
        <img src="{{this.image}}" alt="{{product.title}}" />
        <div class="game-title">
          <h5>{{this.title}}</h5>
          <p>{{this.price}}</p>
          <p>Categoria:{{this.category}}</p>
        </div>
        <form
          action="api/carts/65ca2e389811a65db402ed96/products/{{this._id}}"
          method="POST"
        >
          <input type="submit" value="Agregar al carrito" class="add-to-cart" />
        </form>
      </div>
    </div>
  {{/each}}
</div>

<div class="">

  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Pagina Anterior</a>
  {{/if}}
  <p>Pagina {{currentPage}} de {{totalPages}}</p>
  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Pagina siguiente</a>
  {{/if}}

</div>